.wp-ifi {
	position: relative;
	width: 80px;
	height: 80px;
	padding: 5px;
	border: 1px solid #e1e1e1;
	background-color: #fff;
}
.wp-ifi .dashicons {
	font-size: 16px;
	line-height: 20px;
}
.striped > tbody > :nth-child(2n) .wp-ifi {
	background-color: #f9f9f9;
}
.wp-ifi__figure {
	margin: 0;
	padding: 0;
}
.wp-ifi__image {
	max-width: 100%;
	height: auto;
}
.wp-ifi__button {
	position: absolute;
	bottom: 0;
	border: 0;
	padding: 2px;
	cursor: pointer;
	color: #fff;
	opacity: .9;
	transition: opacity .2s;
}
.wp-ifi__button:hover,
.wp-ifi__button:focus {
	opacity: 1;
}
.wp-ifi__button--add {
	left: 0;
	background-color: #46b450;
}
.wp-ifi__button--remove {
	right: 0;
	background-color: #ffb900;
}
